--
-- PostgreSQL database dump
--

\restrict QSePshomhdP2oOznJDfMBoxdHngbVITrZWAxghoESACNixH0g3kvD2ZQKIQ33mD

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ApprovalStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ApprovalStatus" AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public."ApprovalStatus" OWNER TO postgres;

--
-- Name: AuditAction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AuditAction" AS ENUM (
    'invoice_created',
    'invoice_approved',
    'invoice_cancelled',
    'invoice_suspended',
    'invoice_edited',
    'invoice_restored',
    'return_created',
    'return_approved',
    'return_rejected',
    'payment_created',
    'payment_updated',
    'payment_deleted',
    'customer_created',
    'customer_updated',
    'customer_deleted',
    'supplier_created',
    'supplier_updated',
    'supplier_deleted',
    'stock_adjustment',
    'stock_transfer',
    'manufacturing_approved',
    'user_login',
    'user_logout',
    'user_created',
    'user_updated',
    'user_deactivated',
    'season_created',
    'season_activated',
    'season_closed',
    'treasury_entry_created',
    'treasury_adjustment'
);


ALTER TYPE public."AuditAction" OWNER TO postgres;

--
-- Name: CashRegisterType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CashRegisterType" AS ENUM (
    'sale_cash',
    'payment_in',
    'payment_out',
    'return_in',
    'return_out',
    'expense',
    'adjustment'
);


ALTER TYPE public."CashRegisterType" OWNER TO postgres;

--
-- Name: CustomerType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CustomerType" AS ENUM (
    'credit',
    'cash'
);


ALTER TYPE public."CustomerType" OWNER TO postgres;

--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'draft',
    'pending',
    'approved',
    'suspended',
    'cancelled',
    'returned'
);


ALTER TYPE public."InvoiceStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'cash',
    'credit',
    'instapay',
    'transfer',
    'check',
    'mixed'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: PaymentType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentType" AS ENUM (
    'customer_payment',
    'supplier_payment'
);


ALTER TYPE public."PaymentType" OWNER TO postgres;

--
-- Name: Permission; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Permission" AS ENUM (
    'sale_create',
    'sale_approve',
    'sale_edit',
    'sale_cancel',
    'sale_allow_negative',
    'purchase_create',
    'purchase_approve',
    'purchase_edit',
    'purchase_cancel',
    'return_create',
    'return_approve',
    'transfer_create',
    'transfer_approve',
    'manufacturing_create',
    'manufacturing_approve',
    'payment_create',
    'payment_edit',
    'payment_delete',
    'report_sales',
    'report_purchases',
    'report_stock',
    'report_treasury',
    'report_customers',
    'settings_users',
    'settings_items',
    'settings_suppliers',
    'settings_customers',
    'settings_seasons',
    'settings_price_lists',
    'settings_warehouses',
    'stock_adjustment',
    'treasury_view',
    'treasury_manage'
);


ALTER TYPE public."Permission" OWNER TO postgres;

--
-- Name: RefundMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RefundMethod" AS ENUM (
    'cash',
    'bank',
    'credit_note',
    'none'
);


ALTER TYPE public."RefundMethod" OWNER TO postgres;

--
-- Name: ReturnType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ReturnType" AS ENUM (
    'customer_return',
    'supplier_return'
);


ALTER TYPE public."ReturnType" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'super_admin',
    'admin',
    'supervisor',
    'user',
    'viewer'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: StockMovementType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StockMovementType" AS ENUM (
    'purchase_in',
    'sale_out',
    'return_in',
    'return_out',
    'transfer_in',
    'transfer_out',
    'manufacturing_in',
    'manufacturing_out',
    'adjustment_add',
    'adjustment_sub',
    'opening_stock'
);


ALTER TYPE public."StockMovementType" OWNER TO postgres;

--
-- Name: TransferDirection; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransferDirection" AS ENUM (
    'ramses_to_october',
    'october_to_ramses'
);


ALTER TYPE public."TransferDirection" OWNER TO postgres;

--
-- Name: TreasuryEntryType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TreasuryEntryType" AS ENUM (
    'sale_cash',
    'sale_bank',
    'purchase_cash',
    'purchase_bank',
    'payment_in_cash',
    'payment_in_bank',
    'payment_out_cash',
    'payment_out_bank',
    'return_in_cash',
    'return_in_bank',
    'return_out_cash',
    'return_out_bank',
    'expense',
    'adjustment'
);


ALTER TYPE public."TreasuryEntryType" OWNER TO postgres;

--
-- Name: TreasuryType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TreasuryType" AS ENUM (
    'cash',
    'bank'
);


ALTER TYPE public."TreasuryType" OWNER TO postgres;

--
-- Name: Warehouse; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Warehouse" AS ENUM (
    'ramses',
    'october'
);


ALTER TYPE public."Warehouse" OWNER TO postgres;

--
-- Name: WarehouseScope; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WarehouseScope" AS ENUM (
    'ramses',
    'october',
    'both'
);


ALTER TYPE public."WarehouseScope" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    "userId" uuid,
    "userName" character varying(120),
    "userRole" character varying(30),
    action public."AuditAction" NOT NULL,
    resource character varying(50),
    "resourceId" uuid,
    "resourceRef" character varying(50),
    diff jsonb,
    meta jsonb,
    "ipAddress" character varying(45),
    "userAgent" character varying(300),
    "seasonId" uuid,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: cash_registers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cash_registers (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    "userName" character varying(120) NOT NULL,
    type public."CashRegisterType" NOT NULL,
    direction integer NOT NULL,
    "cashAmount" numeric(15,2) NOT NULL,
    "referenceId" uuid,
    "referenceModel" character varying(50),
    "referenceNumber" character varying(50),
    "customerId" uuid,
    "customerName" character varying(200),
    "seasonId" uuid,
    notes text,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cash_registers OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id uuid NOT NULL,
    code character varying(30) NOT NULL,
    name character varying(200) NOT NULL,
    phone character varying(20),
    phone2 character varying(20),
    address character varying(300),
    type public."CustomerType" DEFAULT 'credit'::public."CustomerType" NOT NULL,
    "creditLimit" numeric(15,2) DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    notes text,
    "openingBalance" numeric(15,2) DEFAULT 0 NOT NULL,
    "createdById" uuid,
    "updatedById" uuid,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: global_counters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.global_counters (
    id uuid NOT NULL,
    name character varying(50) NOT NULL,
    value integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.global_counters OWNER TO postgres;

--
-- Name: item_stocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_stocks (
    id uuid NOT NULL,
    "itemId" uuid NOT NULL,
    warehouse public."Warehouse" NOT NULL,
    quantity numeric(12,3) DEFAULT 0 NOT NULL,
    weight numeric(12,3) DEFAULT 0 NOT NULL,
    "seasonId" uuid,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.item_stocks OWNER TO postgres;

--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    id uuid NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    category character varying(100),
    "subCategory" character varying(100),
    unit character varying(30) DEFAULT '┘â╪▒╪ز┘ê┘'::character varying NOT NULL,
    "defaultWeight" numeric(12,3) DEFAULT 0 NOT NULL,
    "lastPurchasePrice" numeric(15,2) DEFAULT 0 NOT NULL,
    "lastSalePrice" numeric(15,2) DEFAULT 0 NOT NULL,
    "minStockQty" numeric(12,3) DEFAULT 0 NOT NULL,
    "isRawMaterial" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    notes text,
    metadata jsonb DEFAULT '{}'::jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: manufacturing_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manufacturing_orders (
    id uuid NOT NULL,
    "orderNumber" character varying(30) NOT NULL,
    "docNumber" character varying(50) DEFAULT ''::character varying NOT NULL,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    warehouse public."Warehouse" DEFAULT 'ramses'::public."Warehouse" NOT NULL,
    "workerId" uuid,
    "workerName" character varying(120),
    notes text,
    status public."ApprovalStatus" DEFAULT 'pending'::public."ApprovalStatus" NOT NULL,
    "seasonId" uuid,
    "createdById" uuid NOT NULL,
    "approvedById" uuid,
    "approvedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.manufacturing_orders OWNER TO postgres;

--
-- Name: manufacturing_outputs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manufacturing_outputs (
    id uuid NOT NULL,
    "orderId" uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL,
    quantity numeric(12,3) NOT NULL,
    weight numeric(12,3) NOT NULL,
    "totalWeight" numeric(12,3) NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.manufacturing_outputs OWNER TO postgres;

--
-- Name: manufacturing_raw_materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manufacturing_raw_materials (
    id uuid NOT NULL,
    "orderId" uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL,
    quantity numeric(12,3) NOT NULL,
    weight numeric(12,3) NOT NULL,
    "totalWeight" numeric(12,3) NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.manufacturing_raw_materials OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    title character varying(200) NOT NULL,
    body text,
    type character varying(50) NOT NULL,
    "resourceId" uuid,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id uuid NOT NULL,
    type public."PaymentType" NOT NULL,
    "customerId" uuid,
    "customerCode" character varying(30),
    "customerName" character varying(200),
    "supplierId" uuid,
    "supplierCode" character varying(30),
    "supplierName" character varying(200),
    "seasonId" uuid NOT NULL,
    amount numeric(15,2) NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'cash'::public."PaymentMethod" NOT NULL,
    "cashAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "instapayAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "transferAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "checkAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "receiptNumber" character varying(50),
    notes text,
    reference character varying(100),
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdById" uuid NOT NULL,
    "deletedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: price_list_item_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.price_list_item_links (
    id uuid NOT NULL,
    "priceListId" uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL
);


ALTER TABLE public.price_list_item_links OWNER TO postgres;

--
-- Name: price_lists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.price_lists (
    id uuid NOT NULL,
    "priceListName" character varying(100) NOT NULL,
    "priceListDescription" character varying(300) DEFAULT ''::character varying NOT NULL,
    "displayOrder" integer DEFAULT 0 NOT NULL,
    "displayName" character varying(200) NOT NULL,
    origin character varying(100) DEFAULT ''::character varying NOT NULL,
    unit character varying(50) DEFAULT ''::character varying NOT NULL,
    notes character varying(500) DEFAULT ''::character varying NOT NULL,
    prices jsonb DEFAULT '[]'::jsonb NOT NULL,
    "defaultPrice" numeric(15,2) DEFAULT 0 NOT NULL,
    "itemDisplayOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "updatedById" uuid,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.price_lists OWNER TO postgres;

--
-- Name: purchase_invoice_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_invoice_items (
    id uuid NOT NULL,
    "invoiceId" uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL,
    quantity numeric(12,3) NOT NULL,
    weight numeric(12,3) NOT NULL,
    price numeric(15,2) NOT NULL,
    discount numeric(15,2) DEFAULT 0 NOT NULL,
    total numeric(15,2) NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.purchase_invoice_items OWNER TO postgres;

--
-- Name: purchase_invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_invoices (
    id uuid NOT NULL,
    "invoiceNumber" character varying(30) NOT NULL,
    "docNumber" character varying(50) NOT NULL,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "supplierId" uuid NOT NULL,
    "supplierCode" character varying(30) NOT NULL,
    "supplierName" character varying(200) NOT NULL,
    warehouse public."Warehouse" NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    "totalWeight" numeric(12,3) DEFAULT 0 NOT NULL,
    "discountAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "netAmount" numeric(15,2) NOT NULL,
    "paidAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "remainingAmount" numeric(15,2) NOT NULL,
    status public."InvoiceStatus" DEFAULT 'pending'::public."InvoiceStatus" NOT NULL,
    "seasonId" uuid,
    notes text,
    "suspendReason" text,
    "createdById" uuid NOT NULL,
    "approvedById" uuid,
    "approvedAt" timestamp with time zone,
    "editedById" uuid,
    "editedAt" timestamp with time zone,
    "editNotes" text,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.purchase_invoices OWNER TO postgres;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    token character varying(512) NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "revokedAt" timestamp(3) without time zone,
    "userAgent" character varying(300),
    "ipAddress" character varying(45)
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: return_invoice_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.return_invoice_items (
    id uuid NOT NULL,
    "invoiceId" uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL,
    quantity numeric(12,3) NOT NULL,
    weight numeric(12,3) NOT NULL,
    price numeric(15,2) NOT NULL,
    total numeric(15,2) NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.return_invoice_items OWNER TO postgres;

--
-- Name: return_invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.return_invoices (
    id uuid NOT NULL,
    "invoiceNumber" character varying(30) NOT NULL,
    "docNumber" character varying(50) NOT NULL,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type public."ReturnType" NOT NULL,
    "customerId" uuid,
    "customerCode" character varying(30),
    "customerName" character varying(200),
    "supplierId" uuid,
    "supplierCode" character varying(30),
    "supplierName" character varying(200),
    warehouse public."Warehouse" NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    "totalWeight" numeric(12,3) DEFAULT 0 NOT NULL,
    "refundMethod" public."RefundMethod" DEFAULT 'none'::public."RefundMethod" NOT NULL,
    "refundCashAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "refundBankAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    status public."ApprovalStatus" DEFAULT 'pending'::public."ApprovalStatus" NOT NULL,
    notes text,
    "originalInvoiceRef" character varying(30),
    "seasonId" uuid,
    "createdById" uuid NOT NULL,
    "approvedById" uuid,
    "approvedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.return_invoices OWNER TO postgres;

--
-- Name: sale_invoice_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_invoice_items (
    id uuid NOT NULL,
    "invoiceId" uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL,
    quantity numeric(12,3) NOT NULL,
    weight numeric(12,3) NOT NULL,
    price numeric(15,2) NOT NULL,
    discount numeric(15,2) DEFAULT 0 NOT NULL,
    total numeric(15,2) NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.sale_invoice_items OWNER TO postgres;

--
-- Name: sale_invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_invoices (
    id uuid NOT NULL,
    "invoiceNumber" character varying(30) NOT NULL,
    "docNumber" character varying(50) NOT NULL,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "customerId" uuid NOT NULL,
    "customerCode" character varying(30) NOT NULL,
    "customerName" character varying(200) NOT NULL,
    warehouse public."Warehouse" NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    "totalWeight" numeric(12,3) DEFAULT 0 NOT NULL,
    "discountAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "netAmount" numeric(15,2) NOT NULL,
    "paidAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "remainingAmount" numeric(15,2) NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'credit'::public."PaymentMethod" NOT NULL,
    "cashAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "instapayAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "transferAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    status public."InvoiceStatus" DEFAULT 'pending'::public."InvoiceStatus" NOT NULL,
    "allowNegative" boolean DEFAULT false NOT NULL,
    "seasonId" uuid,
    notes text,
    "suspendReason" text,
    "createdById" uuid NOT NULL,
    "approvedById" uuid,
    "approvedAt" timestamp with time zone,
    "editedById" uuid,
    "editedAt" timestamp with time zone,
    "editNotes" text,
    "deletedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.sale_invoices OWNER TO postgres;

--
-- Name: season_counters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.season_counters (
    id uuid NOT NULL,
    "seasonId" uuid NOT NULL,
    prefix character varying(10) NOT NULL,
    value integer DEFAULT 0 NOT NULL,
    "startFrom" integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.season_counters OWNER TO postgres;

--
-- Name: seasons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seasons (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20) NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT false NOT NULL,
    "isClosed" boolean DEFAULT false NOT NULL,
    "isManufacturing" boolean DEFAULT false NOT NULL,
    notes text,
    "closedAt" timestamp(3) without time zone,
    "createdById" uuid,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.seasons OWNER TO postgres;

--
-- Name: stock_adjustment_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_adjustment_lines (
    id uuid NOT NULL,
    "adjustmentId" uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL,
    "systemQty" numeric(12,3) NOT NULL,
    "systemWeight" numeric(12,3) NOT NULL,
    "actualQty" numeric(12,3) NOT NULL,
    "actualWeight" numeric(12,3) NOT NULL,
    "diffQty" numeric(12,3) NOT NULL,
    "diffWeight" numeric(12,3) NOT NULL,
    notes text
);


ALTER TABLE public.stock_adjustment_lines OWNER TO postgres;

--
-- Name: stock_adjustments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_adjustments (
    id uuid NOT NULL,
    "refNumber" character varying(30) NOT NULL,
    warehouse public."Warehouse" NOT NULL,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text,
    "seasonId" uuid,
    "createdById" uuid NOT NULL,
    "approvedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.stock_adjustments OWNER TO postgres;

--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_movements (
    id uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL,
    type public."StockMovementType" NOT NULL,
    "quantityIn" numeric(12,3) DEFAULT 0 NOT NULL,
    "quantityOut" numeric(12,3) DEFAULT 0 NOT NULL,
    "weightIn" numeric(12,3) DEFAULT 0 NOT NULL,
    "weightOut" numeric(12,3) DEFAULT 0 NOT NULL,
    price numeric(15,2) DEFAULT 0 NOT NULL,
    warehouse public."Warehouse" NOT NULL,
    "balanceQty" numeric(12,3) DEFAULT 0 NOT NULL,
    "balanceWeight" numeric(12,3) DEFAULT 0 NOT NULL,
    reference character varying(50),
    "referenceModel" character varying(50),
    "referenceId" uuid,
    "seasonId" uuid,
    "createdById" uuid NOT NULL,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.stock_movements OWNER TO postgres;

--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id uuid NOT NULL,
    code character varying(30) NOT NULL,
    name character varying(200) NOT NULL,
    phone character varying(20),
    phone2 character varying(20),
    address character varying(300),
    "taxNumber" character varying(50),
    "isActive" boolean DEFAULT true NOT NULL,
    notes text,
    "openingBalance" numeric(15,2) DEFAULT 0 NOT NULL,
    "createdById" uuid,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    key character varying(100) NOT NULL,
    value jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: transfer_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transfer_items (
    id uuid NOT NULL,
    "transferId" uuid NOT NULL,
    "itemId" uuid NOT NULL,
    "itemCode" character varying(50) NOT NULL,
    "itemName" character varying(200) NOT NULL,
    quantity numeric(12,3) NOT NULL,
    weight numeric(12,3) NOT NULL,
    "totalWeight" numeric(12,3) NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.transfer_items OWNER TO postgres;

--
-- Name: transfers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transfers (
    id uuid NOT NULL,
    "transferNumber" character varying(30) NOT NULL,
    "docNumber" character varying(50) NOT NULL,
    direction public."TransferDirection" NOT NULL,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "fromWarehouse" public."Warehouse" NOT NULL,
    "toWarehouse" public."Warehouse" NOT NULL,
    "totalWeight" numeric(12,3) DEFAULT 0 NOT NULL,
    "totalQuantity" numeric(12,3) DEFAULT 0 NOT NULL,
    status public."ApprovalStatus" DEFAULT 'pending'::public."ApprovalStatus" NOT NULL,
    notes text,
    "seasonId" uuid,
    "createdById" uuid NOT NULL,
    "approvedById" uuid,
    "approvedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.transfers OWNER TO postgres;

--
-- Name: treasury_entries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.treasury_entries (
    id uuid NOT NULL,
    treasury public."TreasuryType" NOT NULL,
    type public."TreasuryEntryType" NOT NULL,
    amount numeric(15,2) NOT NULL,
    direction integer NOT NULL,
    "paymentMethod" public."PaymentMethod",
    "referenceId" uuid,
    "referenceModel" character varying(50),
    "referenceNumber" character varying(50),
    "customerId" uuid,
    "customerName" character varying(200),
    "supplierId" uuid,
    "supplierName" character varying(200),
    "seasonId" uuid,
    "userId" uuid,
    notes text,
    "reversalOf" uuid,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.treasury_entries OWNER TO postgres;

--
-- Name: user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_permissions (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    permission public."Permission" NOT NULL,
    granted boolean DEFAULT true NOT NULL,
    "grantedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_permissions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    name character varying(120) NOT NULL,
    username character varying(60) NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'user'::public."Role" NOT NULL,
    scope public."WarehouseScope" DEFAULT 'both'::public."WarehouseScope" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: workers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workers (
    id uuid NOT NULL,
    name character varying(120) NOT NULL,
    code character varying(30) NOT NULL,
    scope public."WarehouseScope" DEFAULT 'ramses'::public."WarehouseScope" NOT NULL,
    phone character varying(20),
    notes text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.workers OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
28fe0627-b57d-42c9-a3fb-068b81a53784	7f0b3b54d3bad504ec73df7c49b2888d3f19911fd64d1643c156656509dccfe5	2026-05-12 23:47:37.053833+03	20260512204736_init	\N	\N	2026-05-12 23:47:36.424575+03	1
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cash_registers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cash_registers (id, "userId", "userName", type, direction, "cashAmount", "referenceId", "referenceModel", "referenceNumber", "customerId", "customerName", "seasonId", notes, date, "createdAt") FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: global_counters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.global_counters (id, name, value) FROM stdin;
39b9f7bb-131a-414c-bc96-e0ff60914461	TRF_ramses_to_october	2
5c0a4cee-55e0-4d27-916f-382bdcfdb166	TRF_october_to_ramses	1
f3db66d4-109a-4f33-ba77-08e61c1bf82b	PUR	22
27925782-c65b-41f4-9b7a-afd9cb943357	SAL	118
0715f101-62d8-412b-bccd-42c95a15f6d3	RET	5
\.


--
-- Data for Name: item_stocks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: manufacturing_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.manufacturing_orders (id, "orderNumber", "docNumber", date, warehouse, "workerId", "workerName", notes, status, "seasonId", "createdById", "approvedById", "approvedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: manufacturing_outputs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.manufacturing_outputs (id, "orderId", "itemId", "itemCode", "itemName", quantity, weight, "totalWeight", "sortOrder") FROM stdin;
\.


--
-- Data for Name: manufacturing_raw_materials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.manufacturing_raw_materials (id, "orderId", "itemId", "itemCode", "itemName", quantity, weight, "totalWeight", "sortOrder") FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, "userId", title, body, type, "resourceId", "isRead", "readAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: price_list_item_links; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: price_lists; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_invoice_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.refresh_tokens (id, "userId", token, "expiresAt", "createdAt", "revokedAt", "userAgent", "ipAddress") FROM stdin;
\.


--
-- Data for Name: return_invoice_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: return_invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sale_invoice_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sale_invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: season_counters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.season_counters (id, "seasonId", prefix, value, "startFrom") FROM stdin;
\.


--
-- Data for Name: seasons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.seasons (id, name, code, "startDate", "endDate", "isActive", "isClosed", "isManufacturing", notes, "closedAt", "createdById", "createdAt", "updatedAt") FROM stdin;
cf3622fe-5687-4a8f-85bc-734faf6fea15	┘à┘ê┘╪» 2026	┘à┘ê┘╪»-2026	2026-05-21 00:00:00	2026-12-25 00:00:00	f	f	f	\N	\N	\N	2026-05-13 11:58:47.749	2026-05-14 23:43:44.493
4cb8f575-bd27-483a-8e46-52c74b065346	┘è╪د┘à┘è╪┤ 2026	XXXX-2026	2026-04-01 00:00:00	2026-06-30 00:00:00	t	f	f	\N	\N	\N	2026-04-18 12:08:43.432	2026-05-14 23:43:44.494
\.


--
-- Data for Name: stock_adjustment_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_adjustment_lines (id, "adjustmentId", "itemId", "itemCode", "itemName", "systemQty", "systemWeight", "actualQty", "actualWeight", "diffQty", "diffWeight", notes) FROM stdin;
\.


--
-- Data for Name: stock_adjustments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_adjustments (id, "refNumber", warehouse, date, notes, "seasonId", "createdById", "approvedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (key, value, "updatedAt") FROM stdin;
\.


--
-- Data for Name: transfer_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transfer_items (id, "transferId", "itemId", "itemCode", "itemName", quantity, weight, "totalWeight", "sortOrder") FROM stdin;
78096fa6-c712-4458-8764-7c5e4660f4e1	30d4de4b-64aa-45d7-b06a-e57c4bf55755	eee41659-911c-4d69-bace-5e4abc8596b1	1	┘é┘à╪▒ ╪د┘╪»┘è┘ ╪│┘ê╪▒┘ë ┘à╪▒╪د╪│┘ë 8┘â	1.000	1.000	1.000	0
d47990d3-94fe-484e-beba-a644919a684f	0bd40533-be21-4a13-bc58-4ed1c77c3b28	eee41659-911c-4d69-bace-5e4abc8596b1	1	┘é┘à╪▒ ╪د┘╪»┘è┘ ╪│┘ê╪▒┘ë ┘à╪▒╪د╪│┘ë 8┘â	1.000	1.000	1.000	0
\.


--
-- Data for Name: transfers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: treasury_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workers (id, name, code, scope, phone, notes, "isActive", "createdAt", "updatedAt") FROM stdin;
6a989deb-738a-4b73-8a17-3d4bd539dcb0	╪▒╪د┘╪ز	1	october			t	2026-05-14 23:47:35.259	2026-05-14 23:47:35.259
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: cash_registers cash_registers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cash_registers
    ADD CONSTRAINT cash_registers_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: global_counters global_counters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.global_counters
    ADD CONSTRAINT global_counters_pkey PRIMARY KEY (id);


--
-- Name: item_stocks item_stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_stocks
    ADD CONSTRAINT item_stocks_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: manufacturing_orders manufacturing_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_orders
    ADD CONSTRAINT manufacturing_orders_pkey PRIMARY KEY (id);


--
-- Name: manufacturing_outputs manufacturing_outputs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_outputs
    ADD CONSTRAINT manufacturing_outputs_pkey PRIMARY KEY (id);


--
-- Name: manufacturing_raw_materials manufacturing_raw_materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_raw_materials
    ADD CONSTRAINT manufacturing_raw_materials_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: price_list_item_links price_list_item_links_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_list_item_links
    ADD CONSTRAINT price_list_item_links_pkey PRIMARY KEY (id);


--
-- Name: price_lists price_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_lists
    ADD CONSTRAINT price_lists_pkey PRIMARY KEY (id);


--
-- Name: purchase_invoice_items purchase_invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT purchase_invoice_items_pkey PRIMARY KEY (id);


--
-- Name: purchase_invoices purchase_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT purchase_invoices_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: return_invoice_items return_invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoice_items
    ADD CONSTRAINT return_invoice_items_pkey PRIMARY KEY (id);


--
-- Name: return_invoices return_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoices
    ADD CONSTRAINT return_invoices_pkey PRIMARY KEY (id);


--
-- Name: sale_invoice_items sale_invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoice_items
    ADD CONSTRAINT sale_invoice_items_pkey PRIMARY KEY (id);


--
-- Name: sale_invoices sale_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT sale_invoices_pkey PRIMARY KEY (id);


--
-- Name: season_counters season_counters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.season_counters
    ADD CONSTRAINT season_counters_pkey PRIMARY KEY (id);


--
-- Name: seasons seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_pkey PRIMARY KEY (id);


--
-- Name: stock_adjustment_lines stock_adjustment_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_adjustment_lines
    ADD CONSTRAINT stock_adjustment_lines_pkey PRIMARY KEY (id);


--
-- Name: stock_adjustments stock_adjustments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_adjustments
    ADD CONSTRAINT stock_adjustments_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (key);


--
-- Name: transfer_items transfer_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_items
    ADD CONSTRAINT transfer_items_pkey PRIMARY KEY (id);


--
-- Name: transfers transfers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfers
    ADD CONSTRAINT transfers_pkey PRIMARY KEY (id);


--
-- Name: treasury_entries treasury_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.treasury_entries
    ADD CONSTRAINT treasury_entries_pkey PRIMARY KEY (id);


--
-- Name: user_permissions user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workers workers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workers
    ADD CONSTRAINT workers_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_action_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_action_createdAt_idx" ON public.audit_logs USING btree (action, "createdAt" DESC);


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt" DESC);


--
-- Name: audit_logs_resource_resourceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_resource_resourceId_idx" ON public.audit_logs USING btree (resource, "resourceId");


--
-- Name: audit_logs_seasonId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_seasonId_createdAt_idx" ON public.audit_logs USING btree ("seasonId", "createdAt" DESC);


--
-- Name: audit_logs_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_userId_createdAt_idx" ON public.audit_logs USING btree ("userId", "createdAt" DESC);


--
-- Name: cash_registers_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cash_registers_date_idx ON public.cash_registers USING btree (date DESC);


--
-- Name: cash_registers_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cash_registers_seasonId_date_idx" ON public.cash_registers USING btree ("seasonId", date DESC);


--
-- Name: cash_registers_userId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cash_registers_userId_date_idx" ON public.cash_registers USING btree ("userId", date DESC);


--
-- Name: cash_registers_userId_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cash_registers_userId_seasonId_date_idx" ON public.cash_registers USING btree ("userId", "seasonId", date DESC);


--
-- Name: customers_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX customers_code_key ON public.customers USING btree (code);


--
-- Name: customers_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "customers_deletedAt_idx" ON public.customers USING btree ("deletedAt");


--
-- Name: customers_isActive_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "customers_isActive_type_idx" ON public.customers USING btree ("isActive", type);


--
-- Name: customers_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX customers_name_idx ON public.customers USING btree (name);


--
-- Name: global_counters_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX global_counters_name_key ON public.global_counters USING btree (name);


--
-- Name: item_stocks_itemId_warehouse_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "item_stocks_itemId_warehouse_idx" ON public.item_stocks USING btree ("itemId", warehouse);


--
-- Name: item_stocks_itemId_warehouse_seasonId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "item_stocks_itemId_warehouse_seasonId_key" ON public.item_stocks USING btree ("itemId", warehouse, "seasonId");


--
-- Name: item_stocks_seasonId_warehouse_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "item_stocks_seasonId_warehouse_idx" ON public.item_stocks USING btree ("seasonId", warehouse);


--
-- Name: item_stocks_warehouse_quantity_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX item_stocks_warehouse_quantity_idx ON public.item_stocks USING btree (warehouse, quantity);


--
-- Name: items_category_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "items_category_isActive_idx" ON public.items USING btree (category, "isActive");


--
-- Name: items_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX items_code_key ON public.items USING btree (code);


--
-- Name: items_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "items_deletedAt_idx" ON public.items USING btree ("deletedAt");


--
-- Name: items_isActive_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "items_isActive_code_idx" ON public.items USING btree ("isActive", code);


--
-- Name: items_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX items_name_idx ON public.items USING btree (name);


--
-- Name: manufacturing_orders_seasonId_orderNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "manufacturing_orders_seasonId_orderNumber_key" ON public.manufacturing_orders USING btree ("seasonId", "orderNumber");


--
-- Name: manufacturing_orders_seasonId_status_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "manufacturing_orders_seasonId_status_createdAt_idx" ON public.manufacturing_orders USING btree ("seasonId", status, "createdAt" DESC);


--
-- Name: manufacturing_orders_seasonId_warehouse_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "manufacturing_orders_seasonId_warehouse_date_idx" ON public.manufacturing_orders USING btree ("seasonId", warehouse, date DESC);


--
-- Name: manufacturing_orders_workerId_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "manufacturing_orders_workerId_seasonId_date_idx" ON public.manufacturing_orders USING btree ("workerId", "seasonId", date DESC);


--
-- Name: manufacturing_outputs_itemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "manufacturing_outputs_itemId_idx" ON public.manufacturing_outputs USING btree ("itemId");


--
-- Name: manufacturing_outputs_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "manufacturing_outputs_orderId_idx" ON public.manufacturing_outputs USING btree ("orderId");


--
-- Name: manufacturing_raw_materials_itemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "manufacturing_raw_materials_itemId_idx" ON public.manufacturing_raw_materials USING btree ("itemId");


--
-- Name: manufacturing_raw_materials_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "manufacturing_raw_materials_orderId_idx" ON public.manufacturing_raw_materials USING btree ("orderId");


--
-- Name: notifications_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_userId_createdAt_idx" ON public.notifications USING btree ("userId", "createdAt" DESC);


--
-- Name: notifications_userId_isRead_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_userId_isRead_createdAt_idx" ON public.notifications USING btree ("userId", "isRead", "createdAt" DESC);


--
-- Name: payments_customerId_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payments_customerId_type_idx" ON public.payments USING btree ("customerId", type);


--
-- Name: payments_customerId_type_seasonId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payments_customerId_type_seasonId_idx" ON public.payments USING btree ("customerId", type, "seasonId");


--
-- Name: payments_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX payments_date_idx ON public.payments USING btree (date DESC);


--
-- Name: payments_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payments_deletedAt_idx" ON public.payments USING btree ("deletedAt");


--
-- Name: payments_receiptNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "payments_receiptNumber_key" ON public.payments USING btree ("receiptNumber");


--
-- Name: payments_seasonId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payments_seasonId_createdAt_idx" ON public.payments USING btree ("seasonId", "createdAt" DESC);


--
-- Name: payments_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payments_seasonId_date_idx" ON public.payments USING btree ("seasonId", date DESC);


--
-- Name: payments_supplierId_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payments_supplierId_type_idx" ON public.payments USING btree ("supplierId", type);


--
-- Name: payments_supplierId_type_seasonId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payments_supplierId_type_seasonId_idx" ON public.payments USING btree ("supplierId", type, "seasonId");


--
-- Name: price_list_item_links_itemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "price_list_item_links_itemId_idx" ON public.price_list_item_links USING btree ("itemId");


--
-- Name: price_list_item_links_priceListId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "price_list_item_links_priceListId_idx" ON public.price_list_item_links USING btree ("priceListId");


--
-- Name: price_lists_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "price_lists_isActive_idx" ON public.price_lists USING btree ("isActive");


--
-- Name: price_lists_priceListName_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "price_lists_priceListName_isActive_idx" ON public.price_lists USING btree ("priceListName", "isActive");


--
-- Name: purchase_invoice_items_invoiceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoice_items_invoiceId_idx" ON public.purchase_invoice_items USING btree ("invoiceId");


--
-- Name: purchase_invoice_items_itemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoice_items_itemId_idx" ON public.purchase_invoice_items USING btree ("itemId");


--
-- Name: purchase_invoices_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX purchase_invoices_date_idx ON public.purchase_invoices USING btree (date DESC);


--
-- Name: purchase_invoices_docNumber_seasonId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "purchase_invoices_docNumber_seasonId_key" ON public.purchase_invoices USING btree ("docNumber", "seasonId");


--
-- Name: purchase_invoices_invoiceNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "purchase_invoices_invoiceNumber_key" ON public.purchase_invoices USING btree ("invoiceNumber");


--
-- Name: purchase_invoices_seasonId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoices_seasonId_createdAt_idx" ON public.purchase_invoices USING btree ("seasonId", "createdAt" DESC);


--
-- Name: purchase_invoices_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoices_seasonId_date_idx" ON public.purchase_invoices USING btree ("seasonId", date DESC);


--
-- Name: purchase_invoices_seasonId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoices_seasonId_status_idx" ON public.purchase_invoices USING btree ("seasonId", status);


--
-- Name: purchase_invoices_status_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX purchase_invoices_status_date_idx ON public.purchase_invoices USING btree (status, date DESC);


--
-- Name: purchase_invoices_supplierId_seasonId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoices_supplierId_seasonId_idx" ON public.purchase_invoices USING btree ("supplierId", "seasonId");


--
-- Name: purchase_invoices_supplierId_seasonId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoices_supplierId_seasonId_status_idx" ON public.purchase_invoices USING btree ("supplierId", "seasonId", status);


--
-- Name: purchase_invoices_supplierId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoices_supplierId_status_idx" ON public.purchase_invoices USING btree ("supplierId", status);


--
-- Name: purchase_invoices_warehouse_seasonId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "purchase_invoices_warehouse_seasonId_status_idx" ON public.purchase_invoices USING btree (warehouse, "seasonId", status);


--
-- Name: refresh_tokens_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "refresh_tokens_expiresAt_idx" ON public.refresh_tokens USING btree ("expiresAt");


--
-- Name: refresh_tokens_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX refresh_tokens_token_idx ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "refresh_tokens_userId_idx" ON public.refresh_tokens USING btree ("userId");


--
-- Name: return_invoice_items_invoiceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "return_invoice_items_invoiceId_idx" ON public.return_invoice_items USING btree ("invoiceId");


--
-- Name: return_invoice_items_itemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "return_invoice_items_itemId_idx" ON public.return_invoice_items USING btree ("itemId");


--
-- Name: return_invoices_customerId_type_seasonId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "return_invoices_customerId_type_seasonId_idx" ON public.return_invoices USING btree ("customerId", type, "seasonId");


--
-- Name: return_invoices_customerId_type_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "return_invoices_customerId_type_status_idx" ON public.return_invoices USING btree ("customerId", type, status);


--
-- Name: return_invoices_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX return_invoices_date_idx ON public.return_invoices USING btree (date DESC);


--
-- Name: return_invoices_invoiceNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "return_invoices_invoiceNumber_key" ON public.return_invoices USING btree ("invoiceNumber");


--
-- Name: return_invoices_seasonId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "return_invoices_seasonId_createdAt_idx" ON public.return_invoices USING btree ("seasonId", "createdAt" DESC);


--
-- Name: return_invoices_seasonId_type_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "return_invoices_seasonId_type_status_idx" ON public.return_invoices USING btree ("seasonId", type, status);


--
-- Name: return_invoices_supplierId_type_seasonId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "return_invoices_supplierId_type_seasonId_idx" ON public.return_invoices USING btree ("supplierId", type, "seasonId");


--
-- Name: return_invoices_supplierId_type_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "return_invoices_supplierId_type_status_idx" ON public.return_invoices USING btree ("supplierId", type, status);


--
-- Name: sale_invoice_items_invoiceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoice_items_invoiceId_idx" ON public.sale_invoice_items USING btree ("invoiceId");


--
-- Name: sale_invoice_items_itemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoice_items_itemId_idx" ON public.sale_invoice_items USING btree ("itemId");


--
-- Name: sale_invoices_customerId_paymentMethod_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoices_customerId_paymentMethod_status_idx" ON public.sale_invoices USING btree ("customerId", "paymentMethod", status);


--
-- Name: sale_invoices_customerId_seasonId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoices_customerId_seasonId_status_idx" ON public.sale_invoices USING btree ("customerId", "seasonId", status);


--
-- Name: sale_invoices_customerId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoices_customerId_status_idx" ON public.sale_invoices USING btree ("customerId", status);


--
-- Name: sale_invoices_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sale_invoices_date_idx ON public.sale_invoices USING btree (date DESC);


--
-- Name: sale_invoices_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoices_deletedAt_idx" ON public.sale_invoices USING btree ("deletedAt");


--
-- Name: sale_invoices_docNumber_seasonId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "sale_invoices_docNumber_seasonId_key" ON public.sale_invoices USING btree ("docNumber", "seasonId");


--
-- Name: sale_invoices_invoiceNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "sale_invoices_invoiceNumber_key" ON public.sale_invoices USING btree ("invoiceNumber");


--
-- Name: sale_invoices_seasonId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoices_seasonId_createdAt_idx" ON public.sale_invoices USING btree ("seasonId", "createdAt" DESC);


--
-- Name: sale_invoices_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoices_seasonId_date_idx" ON public.sale_invoices USING btree ("seasonId", date DESC);


--
-- Name: sale_invoices_seasonId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoices_seasonId_status_idx" ON public.sale_invoices USING btree ("seasonId", status);


--
-- Name: sale_invoices_status_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sale_invoices_status_date_idx ON public.sale_invoices USING btree (status, date DESC);


--
-- Name: sale_invoices_warehouse_seasonId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sale_invoices_warehouse_seasonId_status_idx" ON public.sale_invoices USING btree (warehouse, "seasonId", status);


--
-- Name: season_counters_seasonId_prefix_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "season_counters_seasonId_prefix_key" ON public.season_counters USING btree ("seasonId", prefix);


--
-- Name: seasons_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX seasons_code_key ON public.seasons USING btree (code);


--
-- Name: seasons_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "seasons_isActive_idx" ON public.seasons USING btree ("isActive");


--
-- Name: seasons_isClosed_startDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "seasons_isClosed_startDate_idx" ON public.seasons USING btree ("isClosed", "startDate" DESC);


--
-- Name: stock_adjustment_lines_adjustmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "stock_adjustment_lines_adjustmentId_idx" ON public.stock_adjustment_lines USING btree ("adjustmentId");


--
-- Name: stock_adjustment_lines_itemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "stock_adjustment_lines_itemId_idx" ON public.stock_adjustment_lines USING btree ("itemId");


--
-- Name: stock_adjustments_refNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "stock_adjustments_refNumber_key" ON public.stock_adjustments USING btree ("refNumber");


--
-- Name: stock_adjustments_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "stock_adjustments_seasonId_date_idx" ON public.stock_adjustments USING btree ("seasonId", date DESC);


--
-- Name: stock_adjustments_warehouse_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_adjustments_warehouse_date_idx ON public.stock_adjustments USING btree (warehouse, date DESC);


--
-- Name: stock_movements_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_movements_date_idx ON public.stock_movements USING btree (date DESC);


--
-- Name: stock_movements_itemId_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "stock_movements_itemId_seasonId_date_idx" ON public.stock_movements USING btree ("itemId", "seasonId", date DESC);


--
-- Name: stock_movements_itemId_warehouse_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "stock_movements_itemId_warehouse_date_idx" ON public.stock_movements USING btree ("itemId", warehouse, date DESC);


--
-- Name: stock_movements_itemId_warehouse_seasonId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "stock_movements_itemId_warehouse_seasonId_idx" ON public.stock_movements USING btree ("itemId", warehouse, "seasonId");


--
-- Name: stock_movements_referenceId_referenceModel_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "stock_movements_referenceId_referenceModel_idx" ON public.stock_movements USING btree ("referenceId", "referenceModel");


--
-- Name: stock_movements_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "stock_movements_seasonId_date_idx" ON public.stock_movements USING btree ("seasonId", date DESC);


--
-- Name: stock_movements_type_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_movements_type_date_idx ON public.stock_movements USING btree (type, date DESC);


--
-- Name: suppliers_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX suppliers_code_key ON public.suppliers USING btree (code);


--
-- Name: suppliers_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "suppliers_deletedAt_idx" ON public.suppliers USING btree ("deletedAt");


--
-- Name: suppliers_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "suppliers_isActive_idx" ON public.suppliers USING btree ("isActive");


--
-- Name: suppliers_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_name_idx ON public.suppliers USING btree (name);


--
-- Name: transfer_items_itemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transfer_items_itemId_idx" ON public.transfer_items USING btree ("itemId");


--
-- Name: transfer_items_transferId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transfer_items_transferId_idx" ON public.transfer_items USING btree ("transferId");


--
-- Name: transfers_direction_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transfers_direction_status_idx ON public.transfers USING btree (direction, status);


--
-- Name: transfers_docNumber_direction_seasonId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "transfers_docNumber_direction_seasonId_key" ON public.transfers USING btree ("docNumber", direction, "seasonId");


--
-- Name: transfers_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transfers_seasonId_date_idx" ON public.transfers USING btree ("seasonId", date DESC);


--
-- Name: transfers_seasonId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transfers_seasonId_status_idx" ON public.transfers USING btree ("seasonId", status);


--
-- Name: transfers_transferNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "transfers_transferNumber_key" ON public.transfers USING btree ("transferNumber");


--
-- Name: treasury_entries_customerId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "treasury_entries_customerId_date_idx" ON public.treasury_entries USING btree ("customerId", date DESC);


--
-- Name: treasury_entries_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX treasury_entries_date_idx ON public.treasury_entries USING btree (date DESC);


--
-- Name: treasury_entries_referenceId_referenceModel_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "treasury_entries_referenceId_referenceModel_idx" ON public.treasury_entries USING btree ("referenceId", "referenceModel");


--
-- Name: treasury_entries_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "treasury_entries_seasonId_date_idx" ON public.treasury_entries USING btree ("seasonId", date DESC);


--
-- Name: treasury_entries_supplierId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "treasury_entries_supplierId_date_idx" ON public.treasury_entries USING btree ("supplierId", date DESC);


--
-- Name: treasury_entries_treasury_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX treasury_entries_treasury_date_idx ON public.treasury_entries USING btree (treasury, date DESC);


--
-- Name: treasury_entries_treasury_seasonId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "treasury_entries_treasury_seasonId_date_idx" ON public.treasury_entries USING btree (treasury, "seasonId", date DESC);


--
-- Name: treasury_entries_treasury_type_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX treasury_entries_treasury_type_date_idx ON public.treasury_entries USING btree (treasury, type, date DESC);


--
-- Name: user_permissions_permission_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_permissions_permission_idx ON public.user_permissions USING btree (permission);


--
-- Name: user_permissions_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "user_permissions_userId_idx" ON public.user_permissions USING btree ("userId");


--
-- Name: user_permissions_userId_permission_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_permissions_userId_permission_key" ON public.user_permissions USING btree ("userId", permission);


--
-- Name: users_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "users_deletedAt_idx" ON public.users USING btree ("deletedAt");


--
-- Name: users_role_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "users_role_isActive_idx" ON public.users USING btree (role, "isActive");


--
-- Name: users_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_username_idx ON public.users USING btree (username);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: workers_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX workers_code_key ON public.workers USING btree (code);


--
-- Name: workers_scope_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "workers_scope_isActive_idx" ON public.workers USING btree (scope, "isActive");


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cash_registers cash_registers_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cash_registers
    ADD CONSTRAINT "cash_registers_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cash_registers cash_registers_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cash_registers
    ADD CONSTRAINT "cash_registers_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cash_registers cash_registers_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cash_registers
    ADD CONSTRAINT "cash_registers_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: customers customers_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT "customers_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: customers customers_updatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT "customers_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: item_stocks item_stocks_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_stocks
    ADD CONSTRAINT "item_stocks_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: item_stocks item_stocks_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_stocks
    ADD CONSTRAINT "item_stocks_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: manufacturing_orders manufacturing_orders_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_orders
    ADD CONSTRAINT "manufacturing_orders_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: manufacturing_orders manufacturing_orders_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_orders
    ADD CONSTRAINT "manufacturing_orders_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: manufacturing_orders manufacturing_orders_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_orders
    ADD CONSTRAINT "manufacturing_orders_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: manufacturing_orders manufacturing_orders_workerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_orders
    ADD CONSTRAINT "manufacturing_orders_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES public.workers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: manufacturing_outputs manufacturing_outputs_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_outputs
    ADD CONSTRAINT "manufacturing_outputs_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: manufacturing_outputs manufacturing_outputs_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_outputs
    ADD CONSTRAINT "manufacturing_outputs_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.manufacturing_orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: manufacturing_raw_materials manufacturing_raw_materials_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_raw_materials
    ADD CONSTRAINT "manufacturing_raw_materials_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: manufacturing_raw_materials manufacturing_raw_materials_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturing_raw_materials
    ADD CONSTRAINT "manufacturing_raw_materials_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.manufacturing_orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payments payments_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payments payments_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payments payments_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payments payments_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: price_list_item_links price_list_item_links_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_list_item_links
    ADD CONSTRAINT "price_list_item_links_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: price_list_item_links price_list_item_links_priceListId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_list_item_links
    ADD CONSTRAINT "price_list_item_links_priceListId_fkey" FOREIGN KEY ("priceListId") REFERENCES public.price_lists(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: price_lists price_lists_updatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_lists
    ADD CONSTRAINT "price_lists_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: purchase_invoice_items purchase_invoice_items_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT "purchase_invoice_items_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public.purchase_invoices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: purchase_invoice_items purchase_invoice_items_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT "purchase_invoice_items_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase_invoices purchase_invoices_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT "purchase_invoices_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: purchase_invoices purchase_invoices_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT "purchase_invoices_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase_invoices purchase_invoices_editedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT "purchase_invoices_editedById_fkey" FOREIGN KEY ("editedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: purchase_invoices purchase_invoices_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT "purchase_invoices_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: purchase_invoices purchase_invoices_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT "purchase_invoices_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: return_invoice_items return_invoice_items_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoice_items
    ADD CONSTRAINT "return_invoice_items_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public.return_invoices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: return_invoice_items return_invoice_items_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoice_items
    ADD CONSTRAINT "return_invoice_items_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: return_invoices return_invoices_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoices
    ADD CONSTRAINT "return_invoices_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: return_invoices return_invoices_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoices
    ADD CONSTRAINT "return_invoices_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: return_invoices return_invoices_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoices
    ADD CONSTRAINT "return_invoices_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: return_invoices return_invoices_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoices
    ADD CONSTRAINT "return_invoices_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: return_invoices return_invoices_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_invoices
    ADD CONSTRAINT "return_invoices_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sale_invoice_items sale_invoice_items_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoice_items
    ADD CONSTRAINT "sale_invoice_items_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public.sale_invoices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sale_invoice_items sale_invoice_items_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoice_items
    ADD CONSTRAINT "sale_invoice_items_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sale_invoices sale_invoices_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT "sale_invoices_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sale_invoices sale_invoices_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT "sale_invoices_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sale_invoices sale_invoices_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT "sale_invoices_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sale_invoices sale_invoices_editedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT "sale_invoices_editedById_fkey" FOREIGN KEY ("editedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sale_invoices sale_invoices_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT "sale_invoices_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: season_counters season_counters_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.season_counters
    ADD CONSTRAINT "season_counters_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: seasons seasons_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT "seasons_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_adjustment_lines stock_adjustment_lines_adjustmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_adjustment_lines
    ADD CONSTRAINT "stock_adjustment_lines_adjustmentId_fkey" FOREIGN KEY ("adjustmentId") REFERENCES public.stock_adjustments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: stock_adjustment_lines stock_adjustment_lines_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_adjustment_lines
    ADD CONSTRAINT "stock_adjustment_lines_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_adjustments stock_adjustments_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_adjustments
    ADD CONSTRAINT "stock_adjustments_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_adjustments stock_adjustments_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_adjustments
    ADD CONSTRAINT "stock_adjustments_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_movements stock_movements_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT "stock_movements_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_movements stock_movements_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT "stock_movements_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_movements stock_movements_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT "stock_movements_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: suppliers suppliers_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT "suppliers_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: transfer_items transfer_items_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_items
    ADD CONSTRAINT "transfer_items_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: transfer_items transfer_items_transferId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_items
    ADD CONSTRAINT "transfer_items_transferId_fkey" FOREIGN KEY ("transferId") REFERENCES public.transfers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: transfers transfers_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfers
    ADD CONSTRAINT "transfers_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: transfers transfers_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfers
    ADD CONSTRAINT "transfers_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: transfers transfers_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfers
    ADD CONSTRAINT "transfers_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: treasury_entries treasury_entries_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.treasury_entries
    ADD CONSTRAINT "treasury_entries_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: treasury_entries treasury_entries_seasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.treasury_entries
    ADD CONSTRAINT "treasury_entries_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES public.seasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: treasury_entries treasury_entries_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.treasury_entries
    ADD CONSTRAINT "treasury_entries_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: treasury_entries treasury_entries_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.treasury_entries
    ADD CONSTRAINT "treasury_entries_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_permissions user_permissions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT "user_permissions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict QSePshomhdP2oOznJDfMBoxdHngbVITrZWAxghoESACNixH0g3kvD2ZQKIQ33mD

